<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commonn :: head('자유게시판')">
</head>
<body>
<!--메인 -->
<div class="main-wrapper">
    <!--헤더 시작-->
    <header class="header" th:replace="fragments/commonn :: header">
    </header>
    <!-- 헤더 끝 -->
    
    <div class="banner d-flex align-items-center" th:replace="fragments/commonn :: banner">
    </div>

    <footer class="footer" th:replace="fragments/commonn :: footer">
    </footer>
    <!-- 푸터 끝 -->
</div>
    
<script src="bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="main.js" th:src="@{/js/main.js}"></script>
</body>
</html>