<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(title)">
        <title th:text="${title}">자유게시판</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link class="js-color-style" th:href="@{/css/color-1.css}" rel="stylesheet">
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/css/fa.css}" rel="stylesheet">
        <link th:href="@{/css/style.css}" rel="stylesheet">
    </head>
<body>
<!--메인 -->
<div class="main-wrapper">
    <!--헤더 시작-->
    <header class="header" th:replace="fragments/header :: header">
    </header>
    <!-- 헤더 끝 -->

    <!-- 베너 시작 -->
    <div class="banner d-flex align-items-center">
        <h2>테스트 게시판</h2>
        <div>게사판 건수 : <span th:text="${#lists.size(articles)}"></span></div>
    </div>
    <!-- 배너 끝 -->

    <!--푸터-->
    <footer class="footer" th:replace="fragments/footer :: footer"> 
    </footer>
    <!-- 푸터 끝 -->
</div>

<!-- 테마 색 변경 -->
<div class="style-switcher js-style-switcher" th:replace="fragments/styleSwitcher :: styleSwitcher">
</div>
    <!-- 테마 색 변경 끝 -->
    



<script src="bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="main.js" th:src="@{/js/main.js}"></script>
</body>
</html>