<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head">
    </head>
<body>
<!--메인 -->
<div class="main-wrapper">
    <!--헤더 시작-->
    <header class="header" th:replace="fragments/header :: header">
    </header>
    <!-- 헤더 끝 -->

    <div class="banner d-flex align-items-center" th:fragment="banner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="container d-flex flex-row-reverse bd-highlight">
                        <h2>테스트</h2>
                        <div> 게시판 건수 : <span th:text="${#lists.size(articles)}"></span></div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">번호</th>
                                    <th scope="col">제목</th>
                                    <th scope="col">작성자</th>
                                    <th scope="col">게시일</th>   
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="article : ${articles}">
                                    <td th:text="${article.id}"></td>
                                    <td th:text="${article.title}"></td>
                                    <td th:text="${article.member_Id}"></td>
                                    <td th:text="${article.reg_Date}"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <button type="button" class="btn btn-primary">테스트 쓰기</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    


    <!--푸터-->
    <footer class="footer" th:replace="fragments/footer :: footer"> 
    </footer>
    <!-- 푸터 끝 -->
</div>

<!-- 테마 색 변경 -->
<div class="style-switcher js-style-switcher" th:replace="fragments/styleSwitcher :: styleSwitcher">
</div>
    <!-- 테마 색 변경 끝 -->
    



<script src="bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="main.js" th:src="@{/js/main.js}"></script>
</body>
</html>