<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--헤드 COMMONN-->
<head th:fragment="head">
  <title>SpringProject</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link class="js-color-style" th:href="@{/css/color-1.css}" rel="stylesheet">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/fa.css}" rel="stylesheet">
  <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

