<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer class="footer" th:fragment="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-item">
                        <h3 class="footer-logo"><span>comm</span>unity</h3>
                        <ul>
                            <li><a href="#">about</a></li>
                            <li><a href="#">what we do</a></li>
                            <li><a href="#">bbbbb</a></li>
                            <li><a href="#">bbbbb</a></li>
                            <li><a href="#">bbbbb</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-item">
                        <h3>learning</h3>
                        <ul>
                            <li><a href="#">get the app</a></li>
                            <li><a href="#">test</a></li>
                            <li><a href="#">ddddd</a></li>
                            <li><a href="#">ddddd</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-item">
                        <h3>more</h3>
                        <ul>
                            <li><a href="#">aaaaaaa</a></li>
                            <li><a href="#">bbbbbb</a></li>
                            <li><a href="#">ccccc</a></li>
                            <li><a href="#">dddddddd</a></li>
                            <li><a href="#">eeeeeee</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-item">
                        <h3>get in touch</h3>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook social-icon"></i> facebook</a></li>
                            <li><a href="#"><i class="fab fa-twitter social-icon"></i> twitter</a></li>
                            <li><a href="#"><i class="fab fa-instagram social-icon"></i> instagram</a></li>
                            <li><a href="#"><i class="fab fa-youtube social-icon"></i> youtube</a></li>
                            <li><a href="#"><i class="fab fa-linkedin social-icon"></i> linkedin</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <p class="m-0 py-4 text-center">copyright &copy;2022 Lim Jeong Min</p>
      </div>
    </div>
  </footer>
  </html>