<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec=http://www.thymeleaf.org/extras/spring-security
      xmlns:shiro=http://www.pollix.at/thymeleaf/shiro>

<head th:fragment="head">
    <title th:text="${title}">SpringProject</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/fa.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/glass.css}" class="js-glass-style" rel="stylesheet" disabled>
    <link th:href="@{/css/color-1.css}" class="js-color-style" rel="stylesheet">
</head>
</html>