<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <div class="style-switcher js-style-switcher" th:fragment="styleSwitcher">
        <div class="style-switcher-toggler js-style-switcher-toggler">
            <i class="fas fa-cog"></i>
        </div>
        <h3>테마 변경</h3>
        <div class="style-switcher-item">
            <p class="mb-2">테마 컬러</p>
            <!-- colors -->
            <div class="theme-colors js-theme-colors">
                <button type="button" data-js-theme-color="color-1" class="js-theme-color-item color-1"></button>
                <button type="button" data-js-theme-color="color-2" class="js-theme-color-item color-2"></button>
                <button type="button" data-js-theme-color="color-3" class="js-theme-color-item color-3"></button>
                <button type="button" data-js-theme-color="color-4" class="js-theme-color-item color-4"></button>
                <button type="button" data-js-theme-color="color-5" class="js-theme-color-item color-5"></button>
            </div>
        </div>
        <div class="style-switcher-item">
            <div class="form-check form-switch">
                <input class="form-check-input js-dark-mode" type="checkbox" role="switch" id="dark-mode">
                <label class="form-check-label" for="dark-mode">다크 모드</label>
            </div>
        </div>
        <div class="style-switcher-item">
            <div class="form-check form-switch">
                <input class="form-check-input js-glass-effect" type="checkbox" role="switch" id="glass-effect">
                <label class="form-check-label" for="glass-effect">Glass 효과</label>
            </div>
        </div>
    </div>
</html>