<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <div class="style-switcher js-style-switcher" th:fragment="styleSwitcher">
        <div class="style-switche-toggler js-style-switcher-toggler">
            <i class="fas fa-cog"></i>
        </div>
        <h3>테마 변경</h3>
        <div class="style-switcher-item"></div>
            <!-- colors -->
            <div class="theme-colors">
                <button type="button" data-js-theme-color="color-1" class="js-theme-color-item color-1"></button>
            </div>

        <div class="style-switcher-item"></div>
        <div class="style-switcher-item"></div>
    </div>
  </html>