<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>SpringProject</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" class="js-color-style" href="/static/colors/color-1.css">
  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <link rel="stylesheet" href="/static/font-awesome.css">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<!--main wrapper-->
<div class="main-wrapper">

  <!--헤더 시작-->
  <header class="header">
    <div class="container">
      <div class="header-main">
        <div class="header-logo">
          <a href="index.html"><span>Commu</span>nity</a>
        </div>
        <button type="button" class="header-hamburger-btn js-header-menu-toggler">
          <span></span>
        </button>
        <div class="header-backdrop js-header-backdrop"></div>
        <nav class="header-menu js-header-menu">
          <button type="button" class="header-close-btn js-header-menu-toggler">
            <i class="fas fa-times"></i>
          </button>
          <ul class="menu">
            <li class="menu-item"><a href="index.html">홈</a></li>
            <li class="menu-item"><a href="">게시판</a></li>
            <li class="menu-item"><a href="">로그인</a></li>
            <li class="menu-item"><a href="">..</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
</div>


<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
