<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head">
    </head>
<body>
    <!--메인ddd -->
    <div class="main-wrapper">
        <!--헤더 시작-->
        <header class="header" th:replace="fragments/header :: header">
        </header>
        <!-- 헤더 끝 -->

        <!-- 베너 시작 -->
        <div class="banner d-flex align-items-center" th:replace="fragments/banner :: banner">
        </div>
        <!-- 배너 끝 -->

        <!--푸터-->
        <footer class="footer" th:replace="fragments/footer :: footer"> 
        </footer>
        <!-- 푸터 끝 -->
    </div>
        <!-- 테마 색 변경 -->
        <div class="style-switcher js-style-switcher" th:replace="fragments/styleSwitcher :: styleSwitcher">
        </div>
        <!-- 테마 색 변경 끝 -->
    
    <script src="bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script src="main.js" th:src="@{/js/main.js}"></script>
</body>
</html>
